body {
  margin: 0;
  padding: 0;
  background: black;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(4720px / 8);
  height: 780px;
  background: url(spritesheet-60.png);
  animation: animate 0.7s steps(8) infinite;
}
@keyframes animate {
  from {
    background-position: 0;
  }
  to {
    background-position: 4720px;
  }
}
#play {
  opacity: 1;
}
